.form-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 30%;
    padding: 2%;
    border-radius: 5%;
    border: white 1px solid;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #fdeefb;
}

/* .form-container form{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
} */

.form-container .form-row{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
}

.form-container .form-row .form-item-col{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1%;
}

.form-container .form-row .form-item-col input{
    max-width: 80%;
    max-height: 100%;
}

.form-container .form-row .form-item-col label{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    font-size: 100%;
    font-weight: bold;
    color:#3c3d3c;
}


