.HotelContainer{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: center;
  max-width: 60%;
  max-height: 40%;
  background-color: #f6f4f3;
  box-shadow: 3px 3px 2px grey;
  border-radius: 15px;
  padding:1%
}

.HotelTop{
  display: flex;
  justify-content: center;
  flex: 1;
  align-content: center;
  width: "100%";
}

.HotelBottom{
  display: flex;
  flex: 1;
  flex-direction: row;
}


.HotelBottom #btndiv{
  display: flex;
  flex: 0.5;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
}


.HotelBottom #specialbutton{
  padding: 10px;
  border: 1px solid gray;
  background-color: #13a3f6;
  font-size: 12px;
  color: #f6f4f3;
}