.ImagesContainer{
    display: flex;
    flex-direction: row;
    max-width: 55%;
    max-height: 400px;
    padding: 5px;
    border-right: grey 1px solid;
    flex-wrap: nowrap;
}

.ImagesContainer img{
    border-radius: 3%;
}

.ImagesContainer #littles{
    display: flex;
    flex: 0.7;
    flex-direction: row;
    flex-wrap: wrap;
}

.ImagesContainer #littles button {
    justify-content: center;
    border: 1px grey solid;
    max-width: 40%;
    max-height: 25%;
    background-color: rgba(14, 14, 14, 0.18);
}

.ImagesContainer #littles img {
    padding: 1%;
}


.ImagesContainer #big{
    display: flex;
    flex: 1;
    padding: 10px;
}



.MobileImageContainer{
    display: flex;
    flex: 1;
    max-width: 90vw;
    min-width: 90vw;
    max-height: 50vh;
    min-height: 50vh;
    margin: 10px

}

.MobileImageContainer #big{
    display: flex;

}

.MobileImageContainer img{
    border: white 1px solid;
    border-radius: 2%;
}

.MobileImageContainer #big img{
    width: 60vw;
    height: 50vh;
    margin-right: 1vw;
}
.MobileImageContainer #littles{
    width: 35vw;
    height: 50vh;
}

.MobileImageContainer #littles img{
    width: 34vw;
    height: 24.5vh;
}

.MobileImageContainer #littles .fullImages img{
    width: 80vw;
    height: 10vh;
}
