.SingleHotelContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 90%;
    align-self: center;
    padding-top: 2%;
    background-color: white;
}


.SingleHotelContainer #fotoAndInfo{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: nowrap;
    background-color: rgb(247, 253, 247);
    border-bottom: 1px solid gray;
    background-color: #f2efe6;
}


#fotoAndInfo #InfoAndContact {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#fotoAndInfo #InfoAndContact #Info{
    display: flex;
    flex: 1;
}

#fotoAndInfo #InfoAndContact #Contact{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.SingleHotelContainer #descriptionAndUbication{
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #f2efe6;
    border-bottom: grey 1px solid;
}

.SingleHotelContainer #descriptionAndUbication #description{
    display: flex;
    flex: 0.6;
    flex-wrap: nowrap;
    padding: 4%;
    border-radius: 10%;
}
.SingleHotelContainer #descriptionAndUbication #ubication{
    display: flex;
    flex: 0.4;
}

#description p{
    display: flex;
    flex:1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 14;
    font-weight:500; 
    border-radius:3%;
    border: 1px #f4e9c7 solid;
}

.SingleHotelContainer #productList{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 2%;
    flex-wrap: nowrap;
}

