.miniHotelContainer{
    display: flex;
    flex: 1;
    border-radius: 10px;
    max-width: 60%;
    background-color:white;
    flex-direction: row;
    flex-wrap: wrap;
}

.miniHotelContainer #first{
    display: flex;
    flex: 2;
    border-right: 1px solid grey;
}

.miniHotelContainer #second{
    display: flex;
    flex: 2;
    flex-direction: column;
    border-right: 0.5px solid grey;
}
.miniHotelContainer #second p{
    font-size: 12px;
    font-weight: bold;
}

.miniHotelContainer #third{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.miniHotelContainer #precio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 4;
    align-items: baseline;

}

.miniHotelContainer #botonInfo{
    display: flex;
    flex:1;
}

#precio #moneda{
 font-size: 12px;
 font-weight: bold;   
}
#precio #letrapequena{
    font-size: 10px;
}

#precio #cantidad{
    font-size: 18px;
    font-weight: bold;
    color: #11a2f7;
}

.miniHotelContainer #third #botonInfo{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    background-color: honeydew;
}
.miniHotelContainer #third #botonInfo button{
    background-color: honeydew;

}

