.Product{
    display: flex;
    flex: 1;
    align-content: space-between;
    flex-wrap: nowrap;
    background-color: #f2efe6;
    box-shadow: 2px 2px gray;
}


.productFiel{
    display: flex;
    flex: 1;
    flex-direction: column;
    border-left: solid 1px gray;
}

.productFiel .ProductHeader{
    display:flex;
    flex: 0.25;
    justify-content: center;
    background-color: #97bed7;
    border-bottom: cadetblue 1px solid;
    border-top: cadetblue 1px solid;
    
}

.ProductHeader p{
    font-size: 14;
    font-weight: bold;
    color: #eaeaea;
}

.productFiel .ProducInfo{
    display: flex;
    flex: 0.75;
    justify-content: center;
    align-items: center;
}

.productFiel .ProducInfo #cantidad{
    font-size: 24px;
    font-weight: bold;
    color:#3d3f9c
}
.productFiel .ProducInfo #moneda{
    font-size: 16px;
    font-weight: bold;
}





/* .productFiel button{
    background-color: #e2dedd;
    box-shadow: grey 2px 2px;
    width: 40%;
    align-self: center;
} */

.Product #Btn-reservar{
    display: flex;
    width: 40%;
    align-self: center;
    border: 1px gray solid;
    background-color: #f4a657
}

#Btn-reservar button{
    background-color: #87adaa;
    color: #eaeaea
}