.HotelCardContainer{
    display: flex;
    flex-direction: row;
    max-width: 90%;
    min-width: 360px;
    min-height: 120px;
    max-height: 160px;
    flex-wrap: nowrap;
    background-color: white;
    border-radius: 3%;
    flex-grow: 0;
}



.HotelCardContainer .ContainerLeft{
    display: flex;
    min-width: 40%;
    max-width: 40%;
    flex: 1;
}

.ContainerLeft #image{
    display: flex;
    min-width: 140px;
    min-height: 120px;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#image img{
    width: 120px;
    height: 105px;
    border-radius: 3%;
}

.HotelCardContainer .ContainerRight{
    display: flex;
    flex: 1;
    min-width: 222px;
    max-width: 222px;
    min-height: 120px;
    max-height: 160px;
    flex-direction: column;
}

.ContainerRight .PriceContainer{
    display: flex;
    flex: 1;
    align-items: baseline;
    max-width: 222px;
}

.PriceContainer .item{
    display: flex;
    flex: 1;
    justify-content: space-around;
}



.PriceContainer #price{
    font-size: 20px;
    font-weight: 650;
    color: #11a2f7;
    justify-self: flex-end;
}

.PriceContainer #currency{
    font-size: 14px;
    font-weight: 550;
    justify-self: flex-end;
    justify-content: flex-start;
}

.PriceContainer #text{
    font-size: 12px;
    justify-content: flex-start;
}



.ContainerRight .InfoContainer{
    display: flex;
    flex: 2;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    border-bottom: 0.7px gray solid;
}

.InfoContainer .FirstRow{
    display: flex;
    flex: 1;
    max-width: 100%;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

.FirstRow #name h3{
    display: flex;
    flex: 0.7;
    font-weight: 650;
    font-size: 15px;
} 

.FirstRow #stars{
    display: flex;
    flex: 1;
    font-size: 15px;
   justify-content: flex-end;
}


.InfoContainer .SecondRow{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.SecondRow #city{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    font-size: 2.5vh;
}



#city #cityItem{
    align-items: flex-start;
    margin-left: 2%;
    font-size: 10px;
}

.SecondRow #location{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: baseline;
}

#locationItem{
    margin-left: 2%;
}


