.fixedHead{
    display: flex;
    flex: 1;
    flex-grow: 1;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 5vh;
    z-index: 999;
    justify-content: center;
    align-items: center;
    background-color: #f5f2ba;
    border-top: 1px white solid;
}

.fixedHead button{
    background-color: transparent;
    border: none
}

.title{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 5vh;
    background-color: white;
    margin-top: 1rem;
    border-radius: 3%;
}

.title #name{
    font-weight: 600;
    font-size: 1.6rem;
    margin-right: 1rem;
}

.title #stars{
    font-size: 1.2rem;
}

.GeneralContainer{
    display: 'flex';
    width: 95vw;
    border: 1px white solid;
    margin-left: 3%;
    margin-bottom: 5%;
    background-color: #faf1e7;
}

.GeneralContainer #titulo{
    display: 'flex';
    flex: 1;
    font-size: 1.4rem;
    font-weight: 640;
    border-bottom: 1px solid rgb(141, 141, 155);
}
.Contact #contactos{
    margin-left: 2%;
    align-items: baseline;
}


.Contact .contactIcon{
    font-size: 20px;
    margin-right:1rem;
}

.Contact div p{
    font-size: 16px;
}

.Contact div{
    border-bottom: 1px #facb98 solid;
}

.Description span{
    font-style: italic;
    font-weight: 450;
}