#info{
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}



#info #infoCol{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

#info #infoCol button{
    display: flex;
    flex: 1;
    align-self: center;
    justify-self: center;
    max-height: 60%;
    max-width: 70%;
    max-lines: 2;
    border: 1px gray solid;
}

#infoCol #infoText{
    font-style: italic;
    font-weight: 550;
}