.ListContainer{
    display: flex;
    position: absolute;
    flex: 1;
    flex-direction: row;
    width: 500px;
    max-height: 400px;
    overflow: hidden;
    overflow-y:scroll;
    background-color: #ffffff;
}

.ItemList{
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 300px;
    max-height: 250px;
}

.ItemList .Item{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid gray;
    font-size: 14px;
    margin-right: 10%;
}