.RoomForm{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.37);
    overflow: auto;
    flex-wrap: wrap;

}



.RoomForm .RoomContainer{
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 0;
    border: 1px solid black;
    min-height: 33.5%;
    min-width: 30%;
    background-color: blanchedalmond;
    flex-direction: column;
    margin: 5px;
}
.RoomContainer .Container{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.Container .Cont-text{
    display: flex;
    flex: 3;
}

.Container .Cont-buttons{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.KidsContainer {
    display: flex;
    flex: 2;
    flex-direction: column;
}
.KidsContainer #texto{
    display: flex;
    
}
#texto p{
    font-size: 60%;
}
.KidsContainer #edades{
    display: flex;
    flex-direction: row;
}
