.Search{
    display: flex;
    flex: 1;


}

.Search .Search-col{
    display: flex;
    flex: 1;
    align-items: center;
    flex-wrap: nowrap;
}

.Search .Button-col{
    display: flex;
    flex: 0.5;
    justify-content: flex-start;
    align-self: center;

}

.Button-col input{
    display: flex;
    height: 50px;
    width: 35%;
    border-radius: 5%;
    border: none;
    background-color: #005591;
    color: white;
}

.Search-col .SearchColContainer{
    background-color: honeydew;
    display: flex;
    flex: 1;
    max-width: 80%;
    max-height: 70%;
    border-radius: 2%;
    flex-direction: row;
    padding: 2%
}

.SearchColContainer .IconCol{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.SearchColContainer .Container-ItemCol{
    display: flex;
    flex: 4;
    flex-direction: column;
    align-self: center;
}


.Container-ItemCol .ColBot{
    display: flex;
    flex: 1;
    border-top: 1px gray solid;
    font-size: 70%;
    font-weight: 600;
    color: grey;
}

.Container-ItemCol .ColTop{
    display: flex;
    flex: 1;
}

.Container-ItemCol .ColTop p{
    display: flex;
    flex: 1;
    font-size: 70%;
    font-weight: 550;
}

.Container-ItemCol .ColBot input{
    border: none;
    flex: 1;
    width: 90%;
    background-color: #dff7f0;
    
}