/* .page{
    display:flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}
.head{
    display:flex;
    width:100%;
    height: 15%;
    background-color: gray;
    flex-basis: 0px;
    flex-grow: 0px;
}
.head, p.title{
    font-size: 20px;
    justify-content: center;
}
.body{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.body .bodyLeft{
    display: flex;
    width: 20%;
    height: 100%;
    background-color: gray;
}

.body .bodyMiddle{
    display: flex;
    width: 100%;
    height: 100%;
} */



/* .foot{
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    background-color: gray;
} */
