.BasicContainer{
    display:flex;
    flex:2, 0, 50%;
    flex-direction: column;
}

.BCDescription{
    display:flex;
    flex:2, 0, 50%;
    justify-self: center;
    font-style: italic;
    padding: 5px
}

.BCinfo{
    display:flex;
    flex: 2, 0, 50%;
    flex-direction:row;
    justify-content: space-around;
    align-items: baseline;
    padding-left: 20px;
}


.BCinfo .a{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: flex-start;

    /* justify-content: space-around; */
}

.BCinfo .b{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    
}