.AdditionalContainer{
    border-top: 1px #b4b4b4 solid;
    border-right: 1px #b4b4b4 solid;
    display:flex;
    flex: 1;
    flex-direction: column;
}

.AdditionalContainer #buttons {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px #b4b4b4 solid;
}
.additionalContainer #buttons, button{
    border: none;
    flex: 1;
    background-color:transparent;
    font-size: 16px;
    font-weight: bold;
    background-color: #e5f6f5;
    border-left: 1px #b4b4b4 solid;
    color: #30302e;
}
.AdditionalContainer #icons {
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
}


